[
    {
        "login": "admin:$apr1$eMm5z3r4$J9Cu/VXChQ6Xg3kDj3.Nh.",
        "subscribeAccess": [
            "#"
        ],
        "publishAccess": [
            "#"
        ]
    },
    {
        "login": "user:$apr1$5Ss9ZFwG$DB4lG13cH.ckdj10nBkjW/",
        "subscribeAccess": [
            "sensors/1/metrics/#"
        ],
        "publishAccess": [
            "sensors/+/actions/restart",
            "sensors/+/metrics/#"
        ]
    }
]